html{
height:598%;
}
body{
	height:100%;
	max-width:100%;
	min-width:415px;
	
}
.res{
	position:relative;width:80px;height:40px;margin-top:10px;float:right;margin-right:150px;
}
.message{
	position:relative;
	float:left;
}
.spanDescription{
	float:right;
	position:absolute;
}
.address:hover {
	-webkit-transition:margin 0.40s;
	transition:margin 0.40s;
	margin-left:7px;
}

#sortButton{
	-webkit-transition:opacity 0.40s;
	transition:opacity 0.40s;
   	-webkit-transition:background-color 0.30s;
	transition:background-color 0.30s;
    position:relative;
	top:15px;
    left:67px;
	font-weight:600;
	letter-spacing:1px;
	margin-right:20px;
	float:left;	
	cursor:pointer;
    padding: 3px 3px -5px 3px;
    color:#004d40;
    width:80px;
	height:30px;
   background-color:#FFF;
    font-size: 10px;
    text-align: center;
    font-style: normal;
    border: 1px solid #80cbc4;
	border-width: 1px 1px 1px;
	margin-bottom:20px;
    
}
#sortButton:hover{
    background-color:#009688;
	color:#FFF;
	border:1px solid white;
}
#sortButton:focus{
    background-color:#009688;
	color:#FFF;
	border:1px solid white;
	box-shadow:0px 4px 5px black;
}

h1{
	font-size:29px;
	position:relative;
	opacity:0.7;
font-family: 'Oswald', sans-serif;
color:white;
margin-top:0px;
left:30%;
}


#sortBy{
	position:absolute;
font-family: 'Oswald', sans-serif;
color:white;
left:200px;
top:0px;
}

h2{
font-family: 'Oswald', sans-serif;
color:#424242;
}
p{
font-family: 'Oswald', sans-serif;
color:#212121;
}

#sortDiv{
	min-width:280px;
	position:fixed;
	opacity:0.9;
	z-index:999;
	width:100%;
	max-height:auto;
	min-height:55px;
	top:0px;
	display:block;
	margin-left:-1%;
	padding-left:20px;
	padding-top:22px;
	margin-bottom:10px;
	background-color:#00897b;
	box-shadow:10px 2px 2px black;
}


.card {
	-webkit-transition: opacity 0.95s;
	transition: opacity 0.95s;
	-webkit-backface-visibility: hidden;
	opacity:0.1;
	box-shadow:0px 0px 5px #212121; 
	margin:40px;
	margin-top:100px;
	padding: 1em 0 4em;
	max-width: 100%;
	min-height: 100%;
	list-style: none;
	text-align: center;
}

/* Card style */
.card figure {
	position: relative;
	float:left;
	overflow: hidden;
	margin-left:6%;
	margin-bottom:4%;
	min-width: 80px;
	max-width: 300px;
	min-height: 430px;
	width: 300px;
	height:430px;
	background-color:#FFF;
	text-align: center;
	cursor: pointer;
}

.card figure img {
	position: relative;
	background-size:cover;
	display: block;
	height:430px;
	max-width: 100%;
	opacity: 0.8;
	overflow: hidden;
	box-shadow:4px 10px 5px #212121;
}

}
.card figure figcaption {
	overflow: hidden;
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.card figure figcaption::before,
.card figure figcaption::after {
	pointer-events: none;
}

.card figure figcaption,
.card figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.card figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
	
}

.card figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.card figure h2 span {
	font-weight: 800;
}

.card figure h2,
.card figure p {
	margin: 0;
}

.card figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

.year{
	position:relative;
	right:30%;
	padding-left:10%;
	float:left;
	text-decoration:none;
}
.card figure icon {
	margin: 0;
}

.card figure icon {
	letter-spacing: 1px;
	font-size: 68.5%;
}


/* Individual effects */

figure.slideEffect figcaption {
	top: auto;
	bottom: 0;
	padding: 1em;
	height: 3.75em;
	background: #fff;
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

figure.slideEffect h2 {
	float: left;
}

figure.slideEffect icon.icon-links a {
	position:relative;
	padding:10px;
	display:block;
	float: right;
	font-family: 'Oswald', sans-serif;
	text-decoration:none;
	color: #3c4a50;
	font-size:10px;
}

figure.slideEffect:hover icon.icon-links a:hover,
figure.slideEffect:hover icon.icon-links a:focus {
	color: #252d31;
}

figure.slideEffect p.description {
	overflow: hidden;
	position:absolute;
	bottom:200px;
	right:15%;
	float:center;
	text-transform: none;
	font-size:20px;
	opacity: 0;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
	-webkit-backface-visibility: hidden; 
}

figure.slideEffect h2,
figure.slideEffect icon.icon-links a {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
}

figure.slideEffect icon.icon-links a span::before {
	display: inline-block;
	padding: 8px 10px;
	font-family: 'feathericons';
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

figure.slideEffect h2 {
	display: inline-block;
}

figure.slideEffect:hover p.description {
	opacity: 1;
}

figure.slideEffect:hover figcaption,
figure.slideEffect:hover h2,
figure.slideEffect:hover icon.icon-links a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.slideEffect:hover h2 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.slideEffect:hover > .image {
	-webkit-filter: blur(3px);
	filter:blur(4px) contrast(90%);
	box-shadow: 5px 5px 4px #000000;

}

figure.slideEffect:hover icon.icon-links a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.slideEffect:hover icon.icon-links a:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

figure.slideEffect:hover icon.icon-links a:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

{
	font-family: 'Lato', sans-serif;
	font-size:12px;
	position:absolute;
	float:center;
}

.message {
	text-decoartion:none;
	-webkit-transition:opacity 0.40s;
	transition:opacity 0.40s;
   	-webkit-transition:background-color 0.30s;
	transition:background-color 0.30s;
    position:relative;
	top:15px;
    left:67px;
	font-weight:600;
	letter-spacing:1px;
	margin-left:80px;
	margin-top:130px;
	float:center;	
	cursor:pointer;
    padding: 3px 3px -5px 3px;
    color:#004d40;
    width:160px;
	height:70px;
   background-color:#FFF;
    font-size: 10px;
    text-align: center;
    font-style: normal;
    border: 2px solid #80cbc4;
	border-width: 1px 1px 1px;
	margin-bottom:20px;
    
}
.message:hover{
    background-color:#009688;
	color:#FFF;
	border:1px solid white;
}
